<!-- 
    © 2025 Era Engines Platforms. All rights reserved.
    Unauthorized copying of this file, via any medium is strictly prohibited.
-->
<!-- main theme document -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="google-site-verification" content="tR3b6j8biksJeFVhf281WO1E9Sn7DKlMD3r2jVMgRxQ" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Era Engines - New Era Special Engines that builds high-performance software and embedded solutions for industrial and automotive systems — innovative, scalable platforms and reliable support.">
    <meta name="keywords"
        content="Era Engines, Special Engines, high-performance software, embedded solutions, industrial systems, software development, automotive systems, scalable platforms, reliable support, websites, web applications, custom software, software engineering, software solutions, educational platforms, e-learning solutions, learning management systems, egyption software companies, software development egypt, safi, era, era engines, era engines egypt, era-engines, era-engines, eraengines, ah corporation, ahcorp, ah corporation egypt ">
    <title>Era Engines | New Era Special Engines</title>
    <link rel="stylesheet" href="./css/loader.css">
    <link rel="stylesheet" href="./css/globals.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/screens.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>

    <div class="content">
        <div class="vanta-background-module" id="vantaModule"></div>
        <!-- <div class="background-video blurred-background">
            <video autoplay muted loop id="backgroundVideo">
                <source src="./static/medium-vecteezy_computer-code-javascript-screen-text_2019627_medium.mp4"
                    type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div> -->
        <era-module>
            <div class="notification-box">
                <div id="notificationKill" class="notification-close">
                    &times;
                </div>
                <span class="notification-title">
                    We are upgrading! 🚀
                </span>
                <br>
                <span class="notification-text">
                    Era Engines is going to be live again! Available from first quarter of 2026. check countdown <a
                        href="./countdown" class="notification-link" style="color: blue;">here</a>
                </span>
            </div>
            <era-hero>
                <div class="era-hero">
                    <div class="hero-text text-5xl hidden">
                        New
                        <span class="hero-title orange">Era</span>
                        Special
                        <span class="hero-title purple">Engines</span>
                    </div>
                    <img src="./static/hero-text-preview1080x1080.png" alt="" class="hero-image">
                </div>
            </era-hero>
            <era-footer>
                <hr class="hr-divisor footer-divisor">
                <div class="copyright-text">
                    &copy; 2025 Era Engines. All rights reserved.
                </div>
            </era-footer>
        </era-module>


    </div>

    <script src="./js/notificationKill.js"></script>
    <script src="./js/three.r134.min.js"></script>
    <script src="./js/vanta.net.min.js"></script>
    <script src="./js/vanta.net.js"></script>
    <script src="./js/clearconsole.js"></script>
</body>

</html>